@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Declaração do modelo de dados que será utilizado naquela view específica.-->
@model List<Produto>

<!-- Cabeçalho da página -->
<h2>Produtos</h2>

<!-- Tabela para exibir a lista de produtos -->
<table class="table">
    <thead>
        <!-- Cabeçalho da tabela com colunas -->
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop através da lista de produtos para exibir cada um -->
        @foreach (var product in Model)
        {
            <!-- Uma linha para cada produto -->
            <tr>
                <!-- Coluna para o ID do produto -->
                <td>@product.ID</td>

                <!-- Coluna para o NOME do produto -->
                <td>@product.NOME</td>

                <!-- Coluna para o preço do produto, formatado como moeda -->
                <td>@product.PRECO.ToString("C")</td>

                <!-- Coluna para o link de edição do produto -->
                <td><a asp-controller="Produto" asp-action="Edit" asp-route-ID="@product.ID">Editar</a>

                <!-- Coluna para os links de exclusão do produto -->
               
                    <a asp-controller="Produto" asp-action="Delete" asp-route-ID="@product.ID">Excluir</a>
                </td>


            </tr>
        }
    </tbody>
</table>
<a asp-controller="Produto" asp-action="Create">Novo Produto</a>
